:root {
  font-size: 10px;
  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;
  --fs-xl: 24px;
  --fs-2xl: 28px;
  --fs-3xl: 30px;
  --fs-4xl: 36px;
  --bg-color: #ffffff;

  --btn-text-color: #white;
  --main-text-color: #black;
  --sub-text-color: #767676;
  --border-color: #d8d8d8;
  --profile-border-color: #94afc6;
  --alert-color: #e23737;
  --main-btn-color: #577fa0;
  --main-btn-text-color: #ffffff;
  --main-btn-hover-color: #94afc6;
  --sub-btn-color: #94afc6;
  --sub-btn-hover-color: #e4e9ea;
  --main-checkbox-color: #0d3a64;
  --input-border-color: #c4c4c4;
  --main-btn-disabled-color: #e4e9ea;
  --input-border-focus-color: #577fa0;
  --modal-bg-header-color: #94afc6;
  --modal-bg-color: #e4e9ea;
  --main-bg-color: #eceeee;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
